
@import url('http://fonts.cdnfonts.com/css/product-sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
    font-size: 14px;
}


.grid-container{
    height: 70vh;
    /* height: 800px; */
    /* margin: 30px;
    padding: 30px; */
    /* background-color: rgb(166, 139, 139); */
    display: grid;
    grid-template-columns: .8fr 3.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3px;
    row-gap: 3px;

}

.grid-item{
    /* display: inline grid; */
    /* background-color: rgb(0, 0, 0); */
}

.navbar{
    grid-column: 1 / span 2;
    /* background-color: rgb(22, 167, 121);  */
    height: 56px;  
}

.navbar-wrapper{
    height: 50px;
    margin: 2px;
    padding: 2px;
    background-color:#fff;
    display: grid;
    grid-template-columns: .8fr 2.2fr 1fr;
    grid-template-rows: 1fr ;
    column-gap: 12px;
    row-gap: 12px;
}

.navbar-wrapper-item{
    /* border: 1px solid rgb(215, 72, 72); */
}

.search{
    display: flex;
    background-color:#f1f3f4;
    border-radius: 5px;
    align-items: center;
    margin: 4px;
}
.search img{
   width: 17px;
   height: 17px;
   opacity: .5;
   margin-left: 18px;
}
.search input{
    height: 20px;
    width: auto;
    outline: none;
    border: none;
    margin-left: 13px;
    padding: 5px;
    font-size: 15px;
    font-weight: 200;
    opacity: .5;
    background-color: #f1f3f4;
}

.nav-right{
    display: flex;
    /* background-color:#f1f3f4; */
    border-radius: 5px;
    align-items: center;
    margin: 4px;
}

.nav-right img{
    width: 17px;
   height: 17px;
   opacity: .5;
   margin-left: 18px;
}

.nav-right-item{
    display: flex;
    /* background-color:#dadce0; */
    border: 1.5px solid #dee0e3;
    border-radius: 5px;
    align-items: center;
    height: 35px;
    margin-left: 18px;
}

.nav-right-item img{
    width: 33px;
    height: 33px;
    opacity: 1;
    margin-left: 2px;
}
.nav-right-item p{
    opacity: .7;
    margin: 0 8px;
}
.user img{
    margin-left: 6px;
    margin-right: 6px;
    width: 26px;
    height: 26px;
    opacity: 0.2;
}

.justify-self-end{
    justify-self: end;
}

.align-item-center{
    align-items: center;
}
.align-self-center{
    align-self: center;
}

.col-span-2{
    grid-column: 2 / span 2;
    background-color: aqua;
}

.sidebar{
    height: 290px;
}

.side-heading{
    /* background-color: aliceblue; */
    /* height: 50px; */
    /* margin: 20px; */
}

.side-content{
    height: 200px;
    /* margin: 10px; */
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: .3fr 2.7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* column-gap: 6px;
    row-gap: 6px; */
}

.side-content-item{
    /* opacity: .6; */
    /* border: 1px solid rgb(200, 41, 41); */
    align-self: center;
    /* padding-left: 20px; */
    height: 37px;
}

.side-content-item2{
    background-color: #e8f0fe;
    color: #1967d2;
    font-weight: 600;
    /* padding: 10px 0; */
}
.side-content-item-radius{
    border-radius: 0 20px 20px 0;
}

.side-content-item img{
    width: 24px;
    height: 25px;
    padding: 5px 0px;
    /* padding-left: 17px; */
    opacity: .6;
    margin-left: 20px;

}

.side-heading-container{
    display: flex;
    border: 1.5px solid #dee0e3;
    border-radius: 5px;
    align-items: center;
    height: 36px;
    margin: 18px;
}

.side-heading-container img{
    width: 20px;
    height: 16px;
    opacity: 0.7;
    margin-left: 10px;
}

.side-heading-container p{
    margin-left: 13px;
}

.side-content-item p{
    /* background-color: rgb(191, 91, 91); */
    padding: 7px;
}

.side-heading-item p{
    margin-left: 7px;
    padding: 10px;
    font-weight: bold;
}


.dashboard-container-upper{
    height: 260px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    /* column-gap: 6px;
    row-gap: 6px; */
}


.dashboard-left-container1{
    font-size: large;
    font-weight: 600;
    height: 27px;
    padding: 18px 0px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0px 1px #d1d1d1;

}

.dashboard-right-container1{
    display: flex;
    color: #236dd4;
    border: 1.5px solid #dee0e3;
    background-color: #e8f0fe;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    border-radius: 5px;
    align-items: center;
    height: 27px;
    width: 10em;
    /* margin: 18px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 10px; */
    /* border-bottom: 1px solid red; */
    
}

.dashboard-right-container11{
    display: flex;
    justify-content: end;
    height: 27px;
    width: 33em;
    padding: 18px 0px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0px 1px #d1d1d1;
}


.dashboard-right-container1 img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.dashboard-left-container2{
    display: flex;
    margin-top: 2px;
    /* flex-wrap: wrap; */
}

.dashboard-left-container2-p{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    flex-wrap: wrap;
}

.dashboard-left-container2-p h1{
    font-size: 1.5em;
    height: 1.5em;
}

.dashboard-left-container2-sub-p{
    display: flex;
    flex-wrap: wrap;
}
.dashboard-left-container2-sub-p ul li {
    margin-left: 22px;
    color: #236dd4;
    font-weight: 600;
    opacity: 0.7;
    font-size: small;
}

.dashboard-left-container3{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    border-bottom: .5px solid #dee0e3;
    border-right: .5px solid #dee0e3;
    height: 54px;
}

.dashboard-left-container3-p{
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0;
    /* height: 3em; */
}

.dashboard-left-container3-p img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
    /* margin-left: 5px; */
}

.dashboard-left-container3-p ul li {
    margin-left: 22px;
    color: #236dd4;
    /* font-weight: 600; */
    opacity: 0.9;
    font-size: small;
}

.dashboard-right-container3{
    display: flex;
    flex-direction: column;
    /* margin-left: 15px; */
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: .5px solid #dee0e3;
}


.dashboard-right-container3-p{
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0;
}


.dashboard-right-container3-p ul li{
    /* display: inline; */
    /* list-style: disc;     */
    margin-left: 22px;
    /* color: #236dd4; */
    font-weight: 600;
    opacity: 0.7;
    font-size: small;
    /* list-style-image:initial; */
    /* list-style-type: circle; */
}

.dashboard-container4{
    display: flex;
    height: 50px;
}
.dashboard-container4 img{
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.dashboard-container-lower{
    height: 220px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    column-gap: 6px;
    row-gap: 6px;
}


.dashboard-left-container5{
    font-size:x-large;
    /* font-weight: 600; */
    height: 35px;
}

.dashboard-right-container5{
  color: #236dd4;
  font-weight: 600;
}


.dashboard-card-container6{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 10px;
    padding: 15px 17px;
    border: 1px solid #cdcecf;
    
}

.dashboard-card-sub-container1{
    display: flex;
}

.dashboard-card-sub-container1 img{
    width: 18px;
    height: 18px;
}

.dashboard-card-sub-container1 p{
    margin-left: 10px;
}

.dashboard-card-sub-container2{
    display: flex;
    justify-content:end;
    margin-right: 10px;
    margin-top: 6px;
}

.dashboard-card-sub-container3{
    display: flex;
    margin-top: 3px;
}

.dashboard-card-sub-container3 img{
    
    width: 18px;
    height: 18px;
}

.image-container{
    flex-grow: 1;
}
.dashboard-card-sub-container3 ul li{
    /* margin-left: 10px; */
    display: flex;
    justify-content: end;
}

.dashboard-container-item{

    /* border: 1px solid rgb(200, 41, 41); */
    /* background-color: #236dd4; */
    /* height: 100px; */
}

.col-span-1-2{
    grid-column: 1 / span 2;
}


.side-content-item1{
    display: flex;
    align-items: center;
}

.side-content-item1 h3{
   margin-left: 120px;
   opacity: 0.7;
}

.side-content-item3{
    display: flex;
    align-items: center;
}

.side-content-item3 img{
    width: 17px;
    height: 17px;
    margin-left: 25px;
}

.side-content-item4 {
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.arrow-img img{
    width: 10px;
    height: 10px;
    margin-left: 0;
}

.after-arrow img{
    margin-left: 10px;
}